

// fonts
$font-droid-sans: 'Droid Sans', 'sans-serif';
$base-font-size: 14px;

// colors
$color: rgb(51,51,51);

$link-color: #0072d5;
$link-color-hover: #39b0f4;

$border-color: #e0e0e0;

$color-background: #084588;
$color-dark: #303b48;

$primary-color: #0072d5;
$primary-color-hover: #39b0f4;

$secondary-color: #fff;
$secondary-color-hover: #eee;

$success-color: #27895a;
$success-color-hover: #46cb8c;

$warning-color: #ec971f;
$warning-color-hover: #f0ad4e;

$danger-color: #c9302c;
$danger-color-hover: #d9534f;


$color-blue-dark: #0072d5;
$color-blue: #39b0f4;
$color-light-grey: #fcfcfc;
$color-grey: #eee;
$color-grey-dark: #ccc;
$color-green: #46cb8c;
$color-green-dark: #27895a;

// paths
$fa-font-path:   "./fonts/";

// breakpoints
$xs: 0;
$sm: 34em;
$md: 48em;
$lg: 62em;
$xl: 75em;